<div class="message">
  <div class="message-user">
    <%= message.user.username %>:
  </div>
  <div class="message-content">
    <%= message.content %> 
    <%= ((0...10).map { ('a'..'z').to_a[rand(26)] }.join) %> 
  </div>
</div>
